##Rename this to .env and provide your own values

## Contentful 
## The existing variables will read from the contentful account shared by the presenters through the event
## Please replace these with your own values to read from your own Contentful account
NUXT_CONTENTFUL_SPACE="crvlluxoqjb5"
NUXT_CONTENTFUL_PUBLIC_ACCESS_TOKEN="z8QKhquxntlAk3qec9WY-nM81CrrWEqDzB9tU-N0fA8"

## Deskree
## You must provide the URL to your own deskree project (see the Setup Guide for more instructions)
## https://[project-id-here].api.deskree.com/api/v1
NUXT_DESKREE_BASE_URL="https://forge-ep2-din.api.deskree.com/api/v1"

## Stripe
## You must provide the secret token for your stripe account (see the Setup Guide for more instructions)
STRIPE_SECRET="sk_test_51Lc7K4Iz6hkEwS8X5msnk7iXyC9FQeh38Xay9YS5r33P7UWsjB7QyVZm0jqCYmPEGxLAwQJzMFKflitOsoGRfFtc00awrZNXYw"
